.card-contacto{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 12px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  margin-bottom: 10px;
  align-items: center;
}

.card-contacto__icon{
  flex: 1;
  font-size: 25px;
  width: 100%;
  text-align: center;
}
.card-contacto__info{
  flex: 5;
}
.card-contacto__opciones{
  flex: 2;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.card-contacto__delete{
  height: 30px;
  width: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  margin-right: 5px;
  line-height: 30px;

}
.card-contacto__edit{
  height: 30px;
  width: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  cursor: pointer;
  line-height: 30px;
}