.main-container{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: minmax(375px, 1fr);
  grid-template-areas: 'header' 
                        'content';
}


.header{
  grid-area: header;

  /* background-color: aqua; */
}
.content{
  grid-area: content;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  /* background-color: aquamarine; */


}